.App {
    text-align: center;}

body {
    background-image: url("./img/bg.jpg");
    background-size: cover;}

.container-fluid {
        padding-right: 0;
        padding-left: 0;}

.App-container {
        width: 100%;}

p, div, h1, h2, h3, h4, h5, h6, ul, ol, a, li, form, input, button, fieldset {
    margin: 0;
    padding: 0;
    border: none; }

input[type=number] {
    -moz-appearance: textfield; }
      
input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0; }
     
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0; }
      
*, *:focus {
    outline: none; }
     
* {
    box-sizing: border-box; }
      
a:focus {
    outline: none; }      
html {
    height: 100%; }      
body {
    height: 100%;
    position: relative;
    font-size: 10px;
    min-width: 320px;
    box-sizing: border-box;
    font-family: sans-serif;
    -webkit-font-smoothing: antialiased; }      
main {
    overflow: hidden; } 
.base h2, h4{
    text-align: center;
}     
.add-button {
    display: block;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    height: 50px;
    background-color: rgb(35,82,124);
    padding: 0 10px;
    border-radius: 5px;
    transition: all 0.3s ease-in;
    cursor: pointer; }
.add-button:hover {
    background-color: rgb(38, 69, 104) }
.add-button > .fa-plus {
    font-size: 24px;
    color: #131b86d3; }
.add-button span {
    font-size: 20px;
    line-height: 50px;
    color: #ffffff;
    margin-left: 10px; }
.project-form {
    padding: 0 15px;  
    margin-left: auto;
    margin-right: auto;
    width: 350px;}
.editProjectForm {
    width: 75%;
    display: inline-block;
    margin-left: 10px; }


      

