.task {
    min-height: 60px;
    background-color: #ffffff;
    border-bottom: 1px solid lightgrey;
    cursor: pointer;
    transition: all 0.3s ease-in;
    width: 799px;
    list-style-type: none;}
 .task .name {
    width: 72%;
    display: inline-block;
    font-size: 16px;
    line-height: 60px;
    border-left: 1px solid lightgrey;
    border-right: 1px solid lightgrey;
    padding: 0 20px;
    color: #4c4c4c;
    text-align: left; }
.task:last-child {
    border-bottom: none;
    border-radius: 0 0 10px 10px; }
.task .editTaskForm {
    width: 70%;
    display: inline-block;
    font-size: 16px;
    line-height: 30px; 
    padding: 0 20px;
    border-left: 1px solid lightgrey;
    border-right: 1px solid lightgrey;
    text-align: left;}
.task input[type=checkbox] {
    display: inline-block;
    width: 10%;
    height: 20px;
    vertical-align: top;
    margin-top: 20px; } 
.task  .name span {
    float: right;
    color: gray; }
.task:hover {
    background-color: lightgoldenrodyellow; }
.task:hover .params {
    display: inline-block; } 
.task .params {
    margin-bottom: auto;
    display: none;
    text-align: center;
    transition: all 0.3s ease-in;
    Vertical-align: top;
    margin-top: 20px;}
.task .params span {
    padding: 0 10px 0 10px;
    border-right: 1px solid lightgrey; }
.task .params span:last-child {
    border-right: none; }
.task .params .fa-pencil-alt, .fa-trash-alt, .fa-arrows-alt-v {
    font-size: 18px;
    color: #757373;
    transition: all 0.3s ease-in; }
    .task .params .fa-pencil-alt:hover, .fa-trash-alt:hover, .fa-arrows-alt-v:hover {
        color: #474747; }
.task .datePicker {
    display: inline-block;
    border-right: 1px solid lightgrey; }
.task .datePicker .fa-calendar-alt {
    font-size: 18px;
    color: #757373;
    transition: all 0.3s ease-in;}
.task .datePicker .fa-calendar-alt:hover {
    color: #474747;  }                            
                               
                             

                                

